.sprite {
	height: 160px;
	width: 740px;
	background-image: url('sprite_done_189.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}


span {
	height:7px;
	width:150px;
	background-color: white;
	display: none;
}

.container {
	height:80%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header, footer {
	height:40px;
	width:100%;
}

.rightSlideText{
	width : 120px;
	height: auto;
}

.leftSlideText{
	width: 120px;
	height: auto;
}

#textLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 20px;
}

#textRight {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 20px;
}